$color-primary: #004080;
$color-secondary: #cce4ff;
$color-background: #e6f0ff;
$color-white: #ffffff;
$color-text: #333;
$color-muted: #555;

$color-hover: #cce4ff;
$color-dark: #333;
$color-subtext: #555;
$color-gradient-start: #e6f0ff;
$color-gradient-end: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-shadow-nav: rgba(0, 0, 0, 0.2);
$font-main: 'Inter', sans-serif;